@mixin desktop {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.block_news{
  width: 100%;
}



.news-card-wrapper{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-card{
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.image-news{
  max-height: 600px;
  object-fit: cover;
  border-radius: 40px;
  margin-bottom: 30px;
}

.block-text-news{
  @include desktop() {
    position: absolute;
    left: 70px;
    bottom: 70px;    
  }

  @include mobile() {
    position: absolute;
    left: 10%;
    bottom: 50px;    
  }
}

.news-header{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  align-items: center;
  color: #FDF4E3;    
  display: flex;
  @include desktop() {
  font-size: 36px;
  }

  @include mobile() { 
    font-size: 28px;
  }
}

.news-more{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #FDF4E3;
}

.about-wrapper{
  opacity: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about-active {
  opacity: 1;
  max-height: 5000px;
  transition: max-height 2.5s cubic-bezier(1, 0, 1, 1), opacity 1s cubic-bezier(1, 1, 1, 1);
}

.about-close {
  opacity: 0;
  max-height: 0px;
  transition: max-height 3s cubic-bezier(0, 1, 0, 1), opacity 1s cubic-bezier(1, 1, 1, 1);
}


.about-news{
  @include desktop() {
    font-size: 28px;
  }

  @include mobile() {
    font-size: 16px;
    padding: 0 5px;
  }
  margin-top: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  text-align: justify;
  color: #FDF4E3;
  white-space: pre-line;
  margin-bottom: 30px;
}