@font-face {
  font-family: "Inter";
  src: url(./../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url(./../fonts/ZenKakuGothicNew-Regular.ttf);
}

body{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
}