@mixin mobile {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.slick-slider{
  position: relative;
  display: block;
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slider {
  max-width: 100vw;
  min-height: 1vh;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: 0;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  top: 0;
  left: 0;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-slide {
  display: none;
  float: left;
  min-height: 100vh;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-next,
.slick-prev,
.slick-arrow {
  display: none;
}

.slider-post{
  width: 100%;
  object-fit: cover;
  max-height: 100vh;
  min-height: 100vh;
  opacity: 0.6;
}

.slider{
  &__text{
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #ffffff;
    padding: 0 0 0 calc(100vw - 90vw);
    bottom: 250px;
    z-index: 13;
  }

  &__header{
    @include desktop() {
      height: auto;
      margin-bottom: -20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      width: 100vw;
      font-size: 48px;
      line-height: 110%;
      width: calc(100vw - calc(100vw - 90vw));
      letter-spacing: 0.05em;
      flex-wrap: wrap;
    }

    @include mobile() {
      height: auto;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      width: 100vw;
      font-size: 28px;
      width: calc(100vw - calc(100vw - 90vw));
      letter-spacing: 0.05em;
      flex-wrap: wrap;
    }
  }

  &__header-about{
    @include desktop() {
      font-family: 'Zen Kaku Gothic New';
      font-style: normal;
      font-weight: 300;
      margin-top: 20px;
      line-height: 110%;
      font-size: 32px;
      width: calc(100vw - calc(100vw - 90vw));
      flex-wrap: wrap;
    }

    @include mobile() {
      font-family: 'Zen Kaku Gothic New';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      width: calc(100vw - calc(100vw - 90vw));
      flex-wrap: wrap;
    }
  }
}

.slider-wrapper-black{
  background: #000;
}        