@mixin mobile {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.slick-dots{
  position: absolute;
  display: block;
  padding: 0;
}
.slick-dots li button:before{
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-loading .slick-list {
  background: url(ajax-loader.gif) center center no-repeat #fff;
}
@font-face {
  font-family: slick;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/slick.eot);
  src: url(fonts/slick.eot?#iefix) format("embedded-opentype"),
    url(fonts/slick.woff) format("woff"),
    url(fonts/slick.ttf) format("truetype"),
    url(fonts/slick.svg#slick) format("svg");
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  bottom: 120px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  @include desktop(){
    transition: background-color .9s;
    background-color: #fff;
    position: relative;
    display: inline-block;
    width: 9vw;
    height: 8.2px;
    margin: 0 20px;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
  }

  @include mobile(){
    transition: background-color .9s;
    background-color: #fff;
    position: relative;
    display: inline-block;
    width: 8vw;
    height: 8.2px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
  }
}
.slick-dots li button {
  @include desktop(){
    font-size: 0;
    line-height: 0;
    display: block;
    width: 9vw;
    height: 8.2px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
    border-radius: 5px;
  }

  @include mobile(){
    font-size: 0;
    line-height: 0;
    display: block;
    width: 9vw;
    height: 8.2px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
    border-radius: 5px;
  }

}
// .slick-dots li button:focus,
// .slick-dots li button:hover {
//   background-color: aqua;
// }
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.25;
}

li.slick-active{
  transition: background-color .9s;
  background-color: #7EB12A;
}

.slick-next,
.slick-prev,
.slick-arrow {
  display: none;
}