.header{
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  &__wrapper{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px 0 150px;
    height: 126px;
  }
}
.header__logo{
  cursor: pointer;
  width: 250px;
  height: 72px;
  display: flex;
  &__img{
    margin: 0;
    min-height: 72px;
    min-width: 72px;
  }
  &__block-name{
    cursor: pointer;
    color: #FDF4E3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
    &__name{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 14px;
      text-transform: uppercase;
      margin: 0;
    }
    &__name-info{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      width: 220px;
      margin: 0;
      margin-top: 5px;
    }
  }
}

.header__content{
  display: flex;
  margin-bottom: 10px;
  &__navbar{
    margin-top: 10px;
    display: flex;
    color: #FDF4E3;
    margin-bottom: 0px;
  }
  &__info{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 122px;
    justify-content: space-between;
    margin-left: 75px; 
    .img{
      margin-bottom: 0px;
    }
    img{
      transform: scale(100%);
      transition: transform .6s;
    }
    img:hover{
      transform: scale(140%);
      transition: transform .6s;
    }
  }
}

.Link:hover{
  transition: color .6s;
  color: #7EB12A;
}
.Link {
  transition: color .6s;
  text-decoration: none;
  color: #FDF4E3;
}

li{
  margin-bottom: 0px;
  cursor: pointer;
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

li + li{
  margin-left: 50px;
}
