@mixin mobile { 
  @media (max-width:1023px) {
    @content;
  }
}

@mixin desktop { 
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin mobilemini { 
  @media (max-width:768px) {
    @content;
  }
}

.poster__wrapper{
  padding: 35px 0;
  display: flex;
  @include desktop() { 
    justify-content: space-between;
  }
  @include mobilemini() { 
    flex-direction: column;
    padding: 20px 10px;
  }
  max-width: 1296px;
  margin-bottom: 10px;
  width: 100%;
  min-height: 150px;
  transition: min-height .6s, background-color .6s;
  background: rgba(0, 0, 0, 0.15);
}
.poster__wrapper:hover{
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 200px;
  transition: min-height .6s, background-color .6s;
}

.poster__date{
  display: flex;
  width:200px;
  @include mobilemini() { 
    margin: 0;
    align-items: flex-start;
    width: auto;
    padding: 0;
  }
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;

  span{  
    font-family: 'Inter';
    text-transform: lowercase;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    @include mobile() { 
      font-size: 24px;
    }
    color: #FDF4E3;
  }
}

.poster__dates { 
  display: flex;
  @include mobilemini() { 
    margin-bottom: 20px;
  }
  justify-content: space-between;
}

.poster__age-in-date { 
  display: none;
  @include mobilemini() {
     display: flex;
  }
  width: 100px;
  align-items: center;
  span { 
    display: flex;
    width: 100px;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF; 
    justify-content: flex-end;
  }
}

.poster__name{
  width: 500px;
  margin: 0 0 0 75px;
  @include mobilemini(){
    width: auto;
    margin: 0 0 30px 0;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 15px;
    @include mobile() { 
      font-size: 24px;
    }
    display: flex;
    align-items: center;
    color: #FDF4E3;
  }
  &__about{
    max-width: 636px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-align: justify;
    @include mobile() {
      font-size: 18px;
    }
    color: #FDF4E3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.poster__age-booking{
  display: flex;
  margin: 0 45px 0 45px;
  @include mobilemini() { 
    margin: 0;
  }
  cursor: pointer;
  &__age{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    @include mobile() { 
      font-size: 18px;
    }
    @include mobilemini() { 
      display: none;
    }
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;    
    height: 100%;
  }
  &__booking{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    @include mobile() { 
      font-size: 18px;
    }
    display: flex;
    align-items: center; 
    color: #7EB12A;
    height: 100%;
    justify-content: center;
    margin-left: 45px;
    @include mobilemini() { 
      margin: 0;
      font-size: 22px;
      width: 100%;
    }
  }
}